
.form-regis {
	margin: 0 auto;
	width: 550px;
	background-color: white;
	padding: 30px 45px;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);

}
.span-regis {
	font-size: 20px;
	color: #0008ff;
}
.regis-name {
	width: 250px;
}
p {
	margin-top: 15px;
}

.btn-regis {
	margin: 0 25px;
}

.div-form-regis {
	width: 450px;
	padding-top: 15px;
}
.regis-alert {
	margin: 0 auto;
	width: 250px;
}