
.form-regis {
	margin: 0 auto;
	width: 550px;
	background-color: white;
	padding: 30px 45px;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);

}
.span-regis {
	font-size: 26px;
	color: #0008ff;
}
.regis-name {
	width: 250px;
}
p {
	margin-top: 15px;
}

.btn-regis {
	margin: 0 25px;
}
label {
	text-align: right;
}
.div-form-regis {
	width: 400px;
}









.input-name {
	outline: none;
	display: block;
	width: 100%;
	padding: .8rem 0;
	font-size: 1.6rem;
	color: #212121;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,.12);
	margin: 0;
}